@charset "utf-8";
/*
 * This is NOT a freeware, use is subject to license terms
 * @author Miscuz! <526781311@qq.com>
 * version 9.20.55
 * @support http://www.950085.com
 */

.bdbg{background:url(../images/bg.jpg) center center no-repeat;background-size:cover;background-attachment:fixed}
.adzone{display:flex;justify-content:center;align-items:center;padding:1.2rem 0;background:#efefef}
.adzone em{font-size:.25rem}

.ztimg{display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;}
.ztimg a{width:50%;margin-bottom:.2rem;position:relative;}
.ztimg a em{position:absolute;left:0px;top:0px;width:100%;height:100%;display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}
.ztimg a em i{color:#fff;font-size:.3rem;}
.ztimg a:nth-child(even){padding-left:.1rem;}
.ztimg a:nth-child(odd){padding-right:.1rem;}
.ztimg a img{width:100%;}

.mlist{}
.mlist ul{display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap}
.mlist li{width:50%;position:relative}
.mlist li.v{width:100%;position:relative}
.mlist li a.dislike{padding:.1rem .2rem !important;border-radius:100px;position:absolute;right:.2rem;top:.2rem;background:rgba(0,0,0,0.3);display:flex;justify-content:center;align-items:center;flex-wrap:wrap}
.mlist li a.dislike em{display:block}
.mlist li a.dislike span{font-size:.20rem;color:#fff;margin-left:.05rem}
.mlist li a.dislike i{font-size:.20rem;color:#fff}
.mlist.lie2 li{width:50%}
.mlist li a{display:block}
.mlist li img{width:100%;background-size:cover !important;box-shadow:rgba(0,0,0,0.3) 0px 6px 5px -3px}
.mlist li div.dd0{position:relative}
.mlist li div.dd1{}
.mlist li div.dd2{position:absolute;width:100%;left:0;bottom:0;background:url(../images/hh.png);background-size:auto 100%;padding:.2rem 0;display:flex;justify-content:space-between;align-items:center}
.mlist li div.dd2 span{font-size:.25rem;color:#fff;padding:0 .2rem}
.mlist li div.dd2 span i{text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden}
.mlist li div.dd3{background:url(../images/play.png) center center no-repeat;background-size: 50px 50px;position:absolute;left:0px;top:0px;z-index:99999;width:100%;height:100%;}

.pictitle{position:absolute;width:100%;left:0}
.pictitle em{font-size:.25rem;color:#fff;display:block;text-align:center;padding:.1rem;background:rgba(0, 0, 0, 0.5)}
.piccontent{position:relative}
.piccontent img{max-width:100% !important;height:auto !important}
.piccontent p{padding:0 0 .1rem 0}

.lb:before{height:1px;content:'';width:100%;border-bottom:1px solid #424242;position:absolute;top:-1px;right:0;transform:scaleY(0.5);-webkit-transform:scaleY(0.5);z-index:10}
.la:after{height:1px;content:'';width:100%;border-top:1px solid #424242;;position:absolute;bottom:-1px;right:0;transform:scaleY(0.5);-webkit-transform:scaleY(0.5);z-index:10}
.xx:after{content:"";border:1px #424242 solid;z-index:1;position:absolute;top:0;left:0;width:200%;height:200%;-webkit-transform:scale(.5);-moz-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 0;-moz-transform-origin:0 0;transform-origin:0 0;pointer-events:none;-moz-box-sizing:border-box;box-sizing:border-box}
.lx:after{content:"";border-left:1px solid #424242;position:absolute;top:0;left:0;width:200%;height:200%;-webkit-transform:scale(.5);-moz-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:0 0;-moz-transform-origin:0 0;transform-origin:0 0;pointer-events:none;-moz-box-sizing:border-box;box-sizing:border-box}

.vinfo{padding:.2rem .2rem;display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
.vinfo .d1{width:1rem;}
.vinfo .d1 img{width:100%;border-radius:115px;}
.vinfo .d2{ flex:1; margin-left:.2rem; display: flex; justify-content: center; align-items: center; flex-wrap: wrap;flex-direction: column;}
.vinfo .d2 em{width:100%;color:#9E9E9E;font-size:.25rem;font-weight: bold;}
.vinfo .d2 span{width:100%;color:#9E9E9E;font-size:.25rem;margin-top:.05rem;}

.appbar{position:fixed;left:0;bottom:0;width:100%;z-index:99999999;}
.appbar .d1{max-width:768px;background:rgba(0,0,0,0.5);box-shadow:0px 4px 20px 3px rgba(0, 0, 0, 0.4);margin:0 auto}
.appbar ul{display:flex;justify-content:center;align-items:center}
.appbar li{position:relative;text-align:center;flex:1;}
.appbar li a{display:flex;justify-content:center;align-items:center;flex-direction:column;padding:.2rem 0}
.appbar li a i{font-size:.45rem;color:#fff}
.appbar li a em{font-size:.25rem;color:#fff;line-height:1}



.bar{position:relative;}
.bar a{display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;padding:.2rem}
.bar a span{font-size:.30rem;color:#9E9E9E}
.bar a em{padding-left:.1rem}
.bar a em i{font-size:.30rem;color:#9E9E9E}

.top{position:relative;height:1rem;background:url(../images/logo.png) center center no-repeat #000000;background-size:auto 50%}
.top a.home{position:absolute;top:0;width:1rem;height:1rem;display:flex;justify-content:space-around;align-items:center}
.top a.home i{color:#fff;font-size:.45rem}

a.nhome{position:fixed;top:0;width:1rem;height:1rem;display:flex;justify-content:space-around;align-items:center;z-index:99999;}
a.nhome i{color:#fff;font-size:.45rem}

.settop{ position:fixed;width:100%;top:0px;left:0px;}

.toptxt{height:1rem;display: flex; justify-content: center; align-items: center; flex-wrap: wrap;position:relative;}
.toptxt em{color:#fff;font-size:.35rem;}
.toptxt.red{ background:#ff649d}
.toptxt.red:after{ border-top:1px #fe4d8e solid}

.top a.back{position:absolute;top:0;width:1rem;height:1rem;display:flex;justify-content:space-around;align-items:center}
.top a.back i{color:#fff;font-size:.45rem}

.r0{right:0 !important}
.l0{left:0 !important}
.t0{top:0 !important}
.b0{bottom:0 !important}


.lg{display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}

.logina{display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}
.logina a{color:#2f2f2f;font-size:.25rem;padding:.3rem .1rem 0 .1rem;}

.logindom{padding:.4rem;width:80%;background:rgba(255,255,255,0.9);border-radius:5px;}
.logindom:after{border-radius:5px;}
.loginipt{}
.loginipt div{position:relative}

.loginipt div input{font-size:.25rem;padding:.25rem .2rem;border:0;color:#fff;background:#2f2f2f;width:100%;border-radius:3px}
.loginipt div input:focus{border-color:#2188ff;box-shadow:inset 0 1px 2px rgba(27,31,35,.075), 0 0 0 0.2em rgba(3,102,214,.3);outline:none;border-radius:3px}

.loginipt div textarea{font-size:.25rem;padding:.25rem .2rem;border:0;color:#2f2f2f;background:#fff;width:100%;border-radius:3px}
.loginipt div textarea:focus{border-color:#2188ff;box-shadow:inset 0 1px 2px rgba(27,31,35,.075), 0 0 0 0.2em rgba(3,102,214,.3);outline:none;border-radius:3px}

.loginbtn button{width:100%;border:0;font-size:.30rem;color:#fff;box-shadow:0 5px 12px rgba(0,0,0,.39);background:linear-gradient(to right,#333,#000);padding:.2rem 0;border-radius:3px}

.chkcode{display:flex;justify-content:space-between;align-items:center}
.chkcode div.loginipt{flex:1}
.chkcode img{margin-left:.2rem}

.blank{height:1.5rem}

.content{font-size:.25rem !important;color:#9E9E9E;line-height:1.8;text-align:justify;word-break:break-all}
.content div{padding:.1rem 0}
.content img{max-width:100% !important;height:auto !important}
.content p{padding:.1rem 0}
.content ol{list-style-position:inside;padding-left:20px}
.content ol li{list-style-type:decimal;list-style-position:inside}
.content ul{list-style-position:inside;padding-left:20px}
.content ul li{list-style-type:decimal;list-style-position:inside}
.content a{color:#9E9E9E}
h1{color:#9E9E9E;font-size:.35rem;line-height:1}


/*会员中心*/
.uctop{display:flex;justify-content:space-between;align-items:center;background:url(../images/uc.png) center center no-repeat;background-size:100% 100%;padding:.4rem .3rem}
.uctop a.usrlogo{margin-right:.2rem}
.uctop a.usrlogo img{width:1.5rem;border-radius:50%;box-shadow:2px 3px 8px 0px rgba(0, 0, 0, 0.2)}
.uctop div.usrinfo{display:flex;flex-direction:column;flex:1}
.uctop div.usrinfo span{font-size:.35rem;color:#846C58;font-weight:bold}
.uctop div.usrinfo em{font-size:.25rem;color:#959595;padding:.05rem 0}
.uctop div.usrinfo em.vipicon{background:url(../images/vip.png) left center no-repeat;background-size: .3rem auto;padding-left:.4rem;}

.ucbar{position:relative}
.ucbar a{display:flex;justify-content:space-between;align-items:center;padding:.2rem 0}
.ucbar a em{font-size:.35rem;color:#4a4a4a}
.ucbar a span{font-size:.30rem;color:#959595}
.ucbar a i{font-size:.30rem;color:#959595;margin-left:.05rem}
.ucbar a b{flex:1}
.ucbar:after{border-top: 1px #BDBDBD solid;}

.xx.gray:after{border:1px #EBEBEB solid}

.ucitem{}
.ucitem ul{display:flex;justify-content:space-between;align-items:center}
.ucitem li{width:20%}
.ucitem li a{display:flex;align-items:center;flex-direction:column;padding:.2rem 0}
.ucitem li a i{font-size:.65rem;color:#4a4a4a}
.ucitem li a em{font-size:.25rem;color:#4a4a4a}

.ucitemlist{}
.ucitemlist ul{}
.ucitemlist li{display:block;position:relative}
.ucitemlist li a{display:flex;align-items:center;justify-content:space-between;padding:.25rem 0}
.ucitemlist li a i:nth-child(1){font-size:.35rem;color:#4a4a4a}
.ucitemlist li a i:nth-child(4){font-size:.35rem;color:#9E9E9E}
.ucitemlist li a em{font-size:.25rem;color:#4a4a4a;padding-left:.2rem}
.ucitemlist li a b{flex:1}
.ucitemlist li a div.quan{margin-left:10px;font-size:.20rem;color:#fff;width:.25rem;height:.25rem;border-radius:115px;background:#ff0000;display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}
.ucitemlist li:after{border-top:1px #BDBDBD solid}
 
.bgf3{background:#f3f3f3 !important}
.bgf{background:#fff}

.taglist{}
.taglist ul{display:flex;justify-content:flex-start;align-items:center;flex-wrap:wrap}
.taglist ul li{padding:.1rem .05rem}
.taglist ul li a{display:block;font-size:.25rem;color:#9E9E9E;border-radius:311px;text-align:center;background:#2f2f2f;padding:.1rem .25rem}

.vip{display:block;font-size:.25rem;font-weight:bold;padding:.25rem 0 !important;text-align:center;color:#fff;border-radius:3px;background:linear-gradient(to bottom,#07c160,#01792b);box-shadow:0 5px 5px rgba(0,0,0,.39)}

.lintab{display:flex;justify-content:center;align-items:center;padding-bottom:10px;}
.lintab a{padding:.2rem .2rem .1rem .2rem;font-size:.25rem;color:#666;font-weight: bold}
.lintab a.cur{background:url(../images/png/b10.png) center bottom no-repeat;background-size:25% 2px;font-size:.25rem;color:#ccc}

.duanzi{}
.duanzi li{padding:.2rem .05rem;display:block}
.duanzi div.con{font-size:.35rem;padding:.4rem;line-height:1.5;background:#fff;border-radius:10px;box-shadow:rgba(0,0,0,0.2) 0 2px 6px 0}

.link{display:flex;justify-content:flex-start;align-items:center;flex-wrap:wrap}
.link a{font-size:.25rem;color:#9e9e9e;margin-right:.2rem;margin-bottom:.1rem;height:.5rem;line-height:.5rem;vertical-align:middle;border-radius:100px}

.banquan{text-align:center;font-size:.25rem;color:#9e9e9e;padding-bottom:1.5rem}

.search{display:flex;justify-content:space-between;align-items:center;padding:0 .3rem;background:#353535;border-radius:115px;}
.search:after{border-radius:100px}
.search div{flex:1;margin-right:.2rem}
.search input{width:100%;border:0;font-size:.25rem;padding:.2rem 0;outline:0;color:#EEEEEE;background:#353535;}
.search input::placeholder{color:#EEEEEE;}
.search i{font-size:.55rem;color:#EEEEEE}

.nodata{font-size:.25rem;color:#9E9E9E;text-align:center;background:url(../images/nodata.png) center 30% no-repeat;padding:2rem 0 1rem 0;background-size:auto 30%}

#imgslider-back{position:absolute;left:.2rem;top:.2rem;height:.7rem;width:.7rem;font-size:0;z-index:99999;background:url(../images/png/h30.png);border-radius:100%}
#imgslider-back em{display:block;width:100%;height:100%;background:url(../images/prev.png) center center no-repeat;background-size:60% auto}
#imgslider-num{position:absolute;right:.2rem;top:.2rem;font-size:0;z-index:99999;display:flex;justify-content:center;align-items:center;flex-wrap:wrap}
#imgslider-num em{font-size:.20rem;color:#fff;padding:0 .05rem;font-weight:bold}
#imgslider-num span{font-size:.25rem;color:#fff;font-weight:bold}
#imgslider-num span:nth-child(1){color:#ff9900}

#imgslider-view{position:absolute;right:.2rem;bottom:.2rem;z-index:99999;display:flex;justify-content:flex-end;align-items:center;flex-wrap:wrap}
#imgslider-view a{background:url(../images/png/b20.png);border-radius:.5rem;margin-left:.1rem}
#imgslider-view em{display:block;color:#fff;font-size:.20rem;width:100%;height:.5rem;line-height:.5rem;vertical-align:middle;padding-right:.2rem;padding-left:.6rem}
#imgslider-view em.like{background:url(../images/like.png) .2rem center no-repeat;background-size:auto 60%}
#imgslider-view em.hits{background:url(../images/view.png) .2rem center no-repeat;background-size:auto 60%}

#imgslider .swiper-slide{display:flex;justify-content:center;align-items:center;flex-wrap:wrap;width:100%;height:100%}
#imgslider .swiper-slide img{max-width:100%;max-height:100%;}

.piciteminfo{padding:.3rem .2rem}
.piciteminfo h1{font-size:.30rem;font-weight:bold;color:#FAFAFA;line-height:1}

.piciteminfo .d1{display:flex;justify-content:flex-start;align-items:center;flex-wrap:wrap;padding:.15rem 0 0 0}
.piciteminfo .d1 a{color:#616161;font-size:.20rem;position:relative;height:.35rem;line-height:.35rem;vertical-align:middle;margin:0 .1rem .1rem 0;padding:0 .1rem;font-weight:bold}
.piciteminfo .d1 a i{font-size:.20rem;margin-right:.05rem}
.piciteminfo .d1 a:after{border-radius:116px;border:1px #616161 solid}

.pinglun{}
.pinglun li{ display: block; padding: .2rem 0}
.pinglun li .d1{display: flex; justify-content: space-between; align-items: stretch; flex-wrap: wrap;}
.pinglun li .d2 img{width:.8rem;height:.8rem;border-radius:115px;}
.pinglun li .d3{ flex: 1; display: flex; justify-content: center; align-items: stretch; flex-wrap: wrap; flex-direction: column; padding-left: .2rem}
.pinglun li .d3 em{width:100%;display:block;line-height:1;color:#FAFAFA;font-size:.30rem;}
.pinglun li .d3 span{width:100%;display:block;line-height:1;color:#999;font-size:.20rem; padding-top: .1rem}
.pinglun li .d4{display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}
.pinglun li .d4 i{ font-size: .35rem; margin-left: .2rem; color: #888 }
.pinglun li .d4 em{ font-size: .25rem; color: #888 }
.pinglun li .d5{ padding-left: 1rem }
.pinglun li .d6{ font-size: .25rem; color:#FAFAFA; position: relative; padding: .2rem 0 }

.pldom{display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column;}
.pldom div{ width: 100% }
.pldom .d2{display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
.pldom .d2 em{color:#2f2f2f;font-size:14px; color: #999}
.pldom textarea{ padding: .2rem;color:#FAFAFA;font-size:.25rem; width: 100%; background: #424242; border: 0; border-radius: 3px; }
.pldom button{ background: #424242; border: 0; border-radius: 3px;color:#FAFAFA;font-size:.25rem;padding:10px 20px; }

.vipopt{}
.vipopt div{background:rgba(0,0,0,0.75);padding:2rem 0;display: flex; justify-content: center; align-items: center; flex-wrap: wrap;flex-direction: column;}
.vipopt p{color:#E0E0E0;font-size:.25rem;}
.vipopt a{color:#E0E0E0;font-size:.25rem;border:1px #ccc solid;padding:.2rem .5rem;border-radius:5px;margin-top:10px;}


.paybars{display: flex; justify-content: felx-start; align-items: flex-start; flex-wrap: wrap;padding:.2rem .4rem;flex-direction: column;}
.paybars em{color:#333;font-size:.35rem;font-weight: bold;}
.paybars span{color:#333;font-size:.25rem;}
.paybars i{color:#ff649d;}
.paybars.st1{ background:#f0eff5}

.cklist{}
.cklist li{display:block; padding:0 .4rem}
.cklist a{ position:relative;display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
.cklist a em{color:#333;font-size:.30rem;background:url(../images/q1.png) left center no-repeat;background-size: .3rem auto;padding:.2rem 0;padding-left:.4rem;}
.cklist a span{color:#333;font-size:.30rem; }
.cklist a.cur em{background:url(../images/q2.png) left center no-repeat;background-size: .3rem auto;}
.cklist a:after{border-top:1px solid #ddd}

.paytxt{ padding:0 .4rem;color:#a8a8a8;font-size:.30rem;}

.payway{ padding:.2rem .4rem}
.payway li{display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;padding:.2rem 0;}
.payway li img:nth-child(1){ width:.40rem}
.payway li img:nth-child(3){ height:.35rem;background:url(../images/q1.png) center center no-repeat;background-size: 100% 100%;}
.payway li em{color:#666;font-size:.30rem; flex:1; padding-left:.2rem}
.payway li.cur img:nth-child(3){background:url(../images/q2.png) center center no-repeat;background-size: 100% 100%;}
.payway:after{border-top:1px solid #ddd}
.payway li:after{border-top:1px solid #ddd}

.paybtn{display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}
.paybtn button{outline:none; border-radius:115px;width:100%;border:0 #ccc solid; background:#fe6cb0; color:#fff;font-size:.30rem;padding:.25rem 0;}
.paybtn button:hover{background:#ff0077;box-shadow:rgba(255,0,199,0.2) 0 0 0px 4px;}
.paybtn button:active{background:#ff0077;box-shadow:rgba(255,0,199,0.2) 0 0 0px 4px;}


.paynote{color:#333;font-size:.25rem;padding:10px 10px;background:#f0eff5;text-align:center;}
.paywarning{color:#a8a8a8;font-size:14px;line-height:2; padding:.3rem .4rem;}

.uptvip{display: flex; justify-content: center; align-items: center; flex-wrap: wrap;flex-direction: column;}
.uptvip em{color:#fafafa;font-size:.30rem;}
.uptvip a{display:block;font-size:.25rem;margin-top:.2rem;padding:.2rem .4rem !important;text-align:center;color:#fff;border-radius:3px;background:linear-gradient(to bottom,#07c160,#01792b);box-shadow:0 5px 5px rgba(0,0,0,.39)}

.feedlist{width:90%;}
.feedlist li{margin-bottom:.2rem;display:block;padding:.2rem;background: rgba(0,0,0,0.5);box-shadow:rgba(255,255,255,0.5) -4px 0px 0px 0;}
.feedlist li .d1 em{color:#fff;font-size:.25rem;}
.feedlist li .d2{margin-top:.2rem;padding:.2rem;position:relative;}
.feedlist li .d2:after{border-radius:6px;}
.feedlist li .d2 em{color: rgba(0, 255, 170, 1);font-size:.25rem;}
.feedlist li .d2 em i{color:rgb(245, 0, 0);}

.appdownload{flex-direction: column;display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
.appdownload p{width:100%;padding:10px .1rem;flex:1;display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}
.appdownload a{text-align:center;border-radius:3px;flex:1;color:#fff;font-size:.25rem;padding:10px 10px;position:relative;}
.appdownload a:after{border-radius:6px;border:1px #fff solid;}
